---
interface Props {
    color?: "black" | "silver";
}

const { color = "black" } = Astro.props;
---

<div
    class="relative mx-auto border-gray-800 dark:border-gray-800 bg-gray-800 border-[8px] rounded-[2.5rem] h-[600px] w-[300px] shadow-xl"
>
    <div
        class="w-[148px] h-[18px] bg-gray-800 top-0 left-1/2 -translate-x-1/2 absolute rounded-b-xl z-10"
    >
    </div>
    <div
        class="h-[32px] w-[3px] bg-gray-800 absolute -start-[11px] top-[72px] rounded-s-lg"
    >
    </div>
    <div
        class="h-[46px] w-[3px] bg-gray-800 absolute -start-[11px] top-[124px] rounded-s-lg"
    >
    </div>
    <div
        class="h-[46px] w-[3px] bg-gray-800 absolute -start-[11px] top-[178px] rounded-s-lg"
    >
    </div>
    <div
        class="h-[64px] w-[3px] bg-gray-800 absolute -end-[11px] top-[142px] rounded-e-lg"
    >
    </div>
    <div
        class="rounded-[2rem] overflow-hidden w-[284px] h-[584px] bg-white dark:bg-gray-900"
    >
        <slot />
    </div>
</div>
